[Unit]
Description=NRO Anti-Spam TCP Proxy
After=network.target

[Service]
Type=simple
ExecStart=/opt/proxy_forward/proxy_forward
WorkingDirectory=/opt/proxy_forward
Restart=always
RestartSec=3
LimitNOFILE=65535
StandardOutput=journal
StandardError=journal
Environment=RUST_LOG=info

[Install]
WantedBy=multi-user.target
